<form [formGroup]="myForm" class="form">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> Upload</mat-card-title>
      <mat-card-subtitle
        >Please upload the cv to the job xxxx</mat-card-subtitle
      >
    </mat-card-header>

    <label for="input-file-id" class="md-button md-raised md-primary"
      >Choose Files</label
    >
    <input class="ng-hide" id="input-file-id" multiple type="file" formControlName="file" (change)="onChange($event)"/>

    <mat-card-actions>
      <button mat-button (click)="onButtonSave()">Save</button>
      <button mat-button (click)="onButtonCancel()">Cancel</button>
    </mat-card-actions>
  </mat-card>
</form>
