.chart {
  --color1: #3b6394;
  --color2: #008f8f;
  --color3: #6ec6ec;
  --color4: #4fb8b8;
  --color5: #90d033;
  --color6: #82ac58;
  --color7: #7ebb25;

  background: conic-gradient(
    var(--color7) 14.58%,
    var(--color1) 0 33.6%,
    var(--color2) 0 54.4%,
    var(--color3) 0 66.9%,
    var(--color4) 0 75.9%,
    var(--color5) 0 88.4%,
    var(--color6) 0
  );
  border-radius: 50%;
  width: 50%;
  height: 0;
  padding-top: 50%;
  float: left;
  padding-right: 20px;
}
