<div class="page_slider" style='background-image: url("../assets/img/applicants.jpg")' *ngIf="show1" [@inOutAnimation]>
    <h2 class="page_slider-h">You want to work for Datev?</h2>
    <button class="page_slider-btn">Check available jobs ></button>
</div>
<div class="page_slider" style='background-image: url("../assets/img/recruiters.jpg")' *ngIf="!show1" [@inOutAnimation]>
    <h2 class="page_slider-h">You want to cut 50% of the time in HR?</h2>
    <button class="page_slider-btn">See more details ></button>
</div>