.page_slider {
  width: 90vw;
  background-color: gray;
  aspect-ratio: 16/9;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;

  display: inline-block;

  position: absolute;
  left: 5vw;
}

@media screen and (max-width: 500px) {
  .page_slider {
    width: 100vw;
    aspect-ratio: 3/4;
    background-size: cover;
    background-position: 40%;
  }
}

.slider_wrapper {
  height: 100vh;
  position: relative;
}

.slider_btn-left,
.slider_btn-right {
  position: absolute;
  background-color: transparent;
  border-block: 2rem transparent solid;
  border-right: 2rem rgba(94, 178, 38, 0.5) solid;

  top: calc(90vw * 16 / 9 / 8);
  translate: 0 50%;
  cursor: pointer;
}

.slider_btn-right {
  border-left: 2rem rgba(94, 178, 38, 0.5) solid;
  border-right: 0;
  right: 0;
}

.slider_btn-left {
  display: none;
}

.page_slider-h {
  color: white;
  font-size: 3vmax;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  line-height: normal;
  margin-top: 35vmax;
}

.page_slider-btn {
  border: none;
  font-size: 2vmax;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: #7ebb25;
  color: white;
  cursor: pointer;
}

.page_topSection {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.page_topSection > * {
  background-color: rgba(94, 178, 38, 0.8);
  margin: 0;
  padding-block: 5rem;
}

.page_topSection > :nth-child(1) {
  background-color: rgb(0, 98, 98);
}

.page_topSection > :nth-child(3) {
  background-color: rgba(144, 208, 51, 0.8);
}

.page_figcaption {
  font-size: 2rem;
  line-height: normal;
  color: white;
}

.chart {
  width: 50vw;
  margin: auto;
  display: block;
  margin-top: 2rem;
}

.funnel {
  width: 50vw;
  display: block;
  margin: auto;
  margin-top: -5rem;
}
.comment {
  width: 60vw;
  position: absolute;
  left: 50%;
  translate: -50%;
}

.comment_placeholder {
  width: 60vw;
  opacity: 0;
  margin-bottom: 1rem;
}

@media screen and (max-width: 500px) {
  .chart {
    width: 100vw;
  }
  .comment {
    width: 100vw;
  }
  .comment_placeholder {
    margin-bottom: 5rem;
  }
  .funnel {
    width: 100vw;
  }
  .slider_btn-right {
    display: none;
  }
}

.dot {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 100%;
  background-color: lightgray;
  display: inline-block;
  transition: background-color 0.6s ease-out, scale 0.3s ease-out;
}

.dot + .dot {
  margin-left: 1rem;
}

.dot_dark {
  background-color: gray;
  scale: 1.2;
}
