.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 3;
  background-color: white;
}

.header-placeholder {
  height: 10vh;
}

.menu_nav {
  display: flex;
  justify-content: flex-start;
  width: 80vw;
}

.nav_logo {
  text-align: center;
  margin: 1rem 2rem;
  cursor: pointer;
}

.nav_logo-img {
  width: 4rem;
}

.nav_button {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  margin-inline: 10vw;
  cursor: pointer;
}

.nav_button:hover {
  color: rgb(4, 132, 125);
}
